#main direction include file list

header_files=base_const.h callback.h drawfb.h file_op.h main.h \
base.h content_en.h drawui.h language.h	base_config.h \
spi_d.h draw_dialog.h calibration.h 

source_files=callback.c content_en.c drawfb.c drawui.c file_op.c main.c base_config.c spi_d.c \
draw_dialog.c content_ch.c calibration.c

-include calculation/Makefile
-include threads/Makefile
-include net/Makefile
-include dxflib/Makefile
-include gdxf/Makefile
